#tit1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #070907;
    font-size: bold;
}

.dis1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #070907;
}

.dis2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #070907;
}

#container {
    width: 2000px;
    height: 800px;
    background-color: #d9c6b0;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1000px;
    height: 1000px;
    background-color: #F2D5BB;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1000px;
    height: 200px;
    background-color:#FFFF00;
}

#enc {
    position: relative;
    left: 405px;
    top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #FF5733; 
}

#nav {
    width: 1000px;
    height: 100px;
    background-color: #0074FF;
}

#men {
    position: relative;
    left: 430px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #22E1DE;
}

#main {
    width: 1000px;
    height: 700px;
    background-color: #EBA0F3;
}

#cue {
    position: relative;
    left: 440px;
    top: 405px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:#A60842;
}

#footer {
    width: 1000px;
    height: 70px;
    background-color: #CCCCFF;
}

#pie {
    position: relative;
    left: 450px;
    top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #581845;
}
