#tit1 {
    font-family: 'Times New Roman', Times, serif;
    color: #F8F8FF;
    font-size: 52px; 
}

#tit2 {
    font-family: 'Times New Roman', Times, serif;
    color: #F8F8FF;
    font-size: 52px; 
}

#tit3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #F8F8FF;
}

.dis1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
    color: #F8F8FF;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 2;
}

#container {
    width: 1000px;
    height: 600px;
    background-color: #F2D5BB;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1000px;
    height: 200px;
    background-color: #000080;
}

#enc {
    position: relative;
    left: 405px;
    top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:#FFE4E1;
}

#nav {
    width: 1000px;
    height: 100px;
    background-color: #800000;
}

#men {
    position: relative;
    left: 430px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #FFEFD5;
}

#main {
    width: 1000px;
    height: 500px;
    background-color: #688E23;
}

#cue {
    position: relative;
    left: 440px;
    top: 405px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #953553;
}

#footer {
    width: 1000px;
    height: 70px;
    background-color:#6495ED;
}

#pie {
    position: relative;
    left: 450px;
    top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #483D8B;
}