#tit1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#c83f81 ;
}

.dis1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5102B3;
}

#container {
    width: 1000px;
    height: 500px;
    background-color: #f1c4d9;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    width: 1000px;
    height: 200px;
    background-color:coral;
}

#enc {
    position: relative;
    left: 405px;
    top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:darkslategrey;
}

#nav {
    width: 1000px;
    height: 100px;
    background-color: #92EDFF;
}

#men {
    position: relative;
    left: 430px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #F59300;
}

#main {
    width: 1000px;
    height: 500px;
    background-color:#90BF2A;
}

#cue {
    position: relative;
    left: 440px;
    top: 405px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #2E4C0E;
}

#footer {
    width: 1000px;
    height: 70px;
    background-color: #04ADBF;
}

#pie {
    position: relative;
    left: 450px;
    top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BF250D;
}