#tit1 {
    font-family: 'Times New Roman', Times, serif;
    color: #FF7326;
    font-size: 50px; 
}

#tit2 {
    font-family: 'Times New Roman', Times, serif;
    color: #6F1D78;
    font-size: 50px; 
}

.dis1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #D537E6;
}

.dis2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #1E3B69;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1000px;
    height: 600px;
    background-color: #F2D5BB;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1000px;
    height: 200px;
    background-color: #EEE8AA;
}

#enc {
    position: relative;
    left: 405px;
    top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #FFA500;
}

#nav {
    width: 1000px;
    height: 100px;
    background-color: #FFB6C1;
}

#men {
    position: relative;
    left: 430px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:#808000;
}

#main {
    width: 1000px;
    height: 600px;
    background-color: #00FFFF;
}

#cue {
    position: relative;
    left: 440px;
    top: 405px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #953553;
}

#footer {
    width: 1000px;
    height: 70px;
    background-color:#FFFF00;
}

#pie {
    position: relative;
    left: 450px;
    top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #800080;
}